*{
	padding: 0;
	margin: 0;
	list-style: none;
}
#app{
	max-width: 640px;
	min-width: 320px;
	width: 100%;
	margin: 0 auto;
}
.icon {
				width: 1em;
				height: 1em;
				vertical-align: -0.15em;
				fill: currentColor;
				overflow: hidden;
			}
.fl{
	float: left;
}
.fr{
	float: right;
}
body{
	background-color: #EEEEEE;
}
a{
	text-decoration: none;
	color: black;
}
.box{
	margin: 0 auto;
	max-width: 640px;
	min-width: 320px;
	width: 100%;
}
header{
	background-color: #35B400;
	width: 100%;
	border-bottom: 1px solid #EFEFEF;
	height: 44px;
	color: white;
}
header>div{	
	height: 44px;
	line-height: 44px;
	width: 33.33%;
	float: left;
	text-align: center;
}
.hr{
	padding-right: 10px;
	text-align: right;
	box-sizing: border-box;
}
header svg{
	margin-right: 15px;
}
header a{
	color: white;
}
.hl{
	text-align: left;
	padding-left: 10px;
	box-sizing: border-box;
}
.hl>a{
	text-decoration: none;
	color: white;
}
.hl>a>span{
	display: inline-block;
	width: 25px;
	height: 30px;
	
	background-size: 82% 55%;
}
.nav_li a{
	float: left;
	width: 33.33%;
	text-align: center;
	line-height: 40px;
}
.nav_li{
	background-color: white;
	height: 40px;
}
.activeLi{
	border-bottom: 1px solid red;
	display: block;
}
.last{
	margin-top: 20px;
}
.s_image{
	float: left;
	height: 90px;
	margin-bottom: 25px;
}
.s_top{
	width: 100%;
	height: 50px;
	color: #929290;
}
.s_top>div img{
	width: 30px;
	height: 30px;
	vertical-align: middle;
	border-radius: 50%;
	margin-right: 10px;
}
.quanClass{
	color: blue;
	font-size: 18px;
}
.s_image img{
	margin-top: 10px;
	width: 90px;
	height: 90px;
	margin-right: 6px;
	vertical-align: bottom;
}
.whoSay{
	color: #676675;
}
.saySomething{
	color: #AFAFAF;
}
.s_say{
	margin: 20px 0px;
	clear: both;
}
.s_bottom{
	width: 100%;
	line-height: 44px;
	height: 44px;
}
.sreadnum{
	margin: 0px 5px 0px 10px;
}
.zanl>span{
	color: #666666;
	margin-left: 16px;
}
.red{
	background-color: red;
	color: white;
}
.green{
	background-color: green;
	color: white;
}
.fslarge{
	font-size: 20px
}
.discover{
	margin-top: 10px;
	width: 100%;
	height: 100%;
	width:100%;
	
}
.discover>div>img{
	width: 100%;
}
.discover>div>ul{
	margin-top: 10px;
	background-color: white;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.discover>div>ul li{
	float: left;
	width: 20%;
	text-align: center;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.discover>div>ul li img{
	width: 30px;
	height: 30px;
	
}
.fx_content{
	width: 100%;
	height: 100%;
	margin-top: 10px;
	background-color: white;
	padding: 10px;
	box-sizing: border-box;
}
.xqContent{
	width: 95%;
	height: 100%;
	clear: both;
	border-bottom: 1px solid #8F8F8F;
}
.xqContent>div{
	float: left;
	
}
.xq_left{
	width: 60px;
	height: 60px;
	margin-top: 10px;
	position: relative;
}
.xq_left>img{
	width: 100%;
	height: 100%;
    border-radius: 10px;
}
.xq_left>span{
	color: white;
	width: 20px;
	height: 20px;
	position: absolute;
	line-height: 20px;
	text-align: center;
	border-top-left-radius: 10px;
	top: 0;
	left: 0;
}
.jh{
	padding: 1px;
	margin-right: 5px;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: #F5540C;
	color: white;
}
.cwt{
	padding: 1px;
	margin-right: 5px;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: #35B400;
	color: white;
}
.first{
	background-color: #F04F2A;
}
.second{
	background-color: #FFB100;
}
.xq_center{
	padding-top: 10px;
	box-sizing: border-box;
	width: 56%;
	margin-left: 10px;
}
.xq_center>p{
	font-size: 12px;
	color: #8F8F8F;
	margin-top: 4px;
}
.xq_right{
	width: 20%;   
	line-height: 80px;
}
.xq_right>button{
	width: 100%;
	height: 24px;
	outline: none;
	background-color: white;
	border: 1px solid #8F8F8F;
	border-radius: 6px;
	margin-right: 5px;
}
.fx_content>p{
	clear: both;
	text-align: center;
	line-height: 46px;
}
.xq_rightg{
	width: 20%;   
	line-height: 80px;
}
.xq_rightg>button{
	width: 100%;
	height: 24px;
	outline: none;
	background-color: white;
	border: 1px solid green;
	border-radius: 6px;
	margin-right: 5px;
}
.qztop{
	padding-top: 10px;
	box-sizing: border-box;
	width: 100%;
	border-bottom: 1px solid #909090;
	overflow: hidden;
	margin-bottom: 10px;	
}
.qz{
	margin-top: 10px;
	background-color: white;
	padding: 10px;
	box-sizing: border-box;
}
.qztop>div{
	height: 86px;
}
.qztop>div:first-child{
	width: 60px;
	height: 60px;
	margin-right: 15px;	
}
.qztop>div:first-child img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
.qztop>div:last-child span{
	display: inline-block;
	color: #909090;
	margin-right: 20px;
	margin-top: 12px;
}
.qztop+div>span:first-child{
	display: inline-block;
	width: 66px;
	height: 66px;
	border: 1px solid #909090;
	border-radius: 10px;
	font-size: 80px;
	line-height: 50px;
	text-align: center;
	font-weight: lighter;
	vertical-align: middle;
	margin-right: 10px;
}
.zzc{
	width: 100%;
	height: 100%;
	display: block;
	background-color: black;
}
body,html{
	position: relative;
	width: 100%;
	height: 100%;
}
.swiper-container{
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	/*margin-top: -125px;*/
	transform: translateY(-125px);
	height: 250px;
}
.swiper-wrapper img{
	width: 100%;
	height: 100%;
}
.wrap1{
	margin-top: 10px;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	background-color: white;
}

