*{
	padding: 0;
	margin: 0;
	list-style: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
body{
	background-color: #EEEEEE;
}
.wrapOut{
	max-width: 640px;
	min-width: 320px;
	width: 100%;
	margin: 0 auto;
}
header{
	background-color: white;
	max-width: 640px;
	min-width: 320px;
	width: 100%;
	border-bottom: 1px solid #EFEFEF;
	height: 44px;
	
}
header>div{	
	height: 44px;
	line-height: 44px;
	width: 33.33%;
	float: left;
	text-align: center;
}
.hr{
	padding-right: 10px;
	text-align: right;
	box-sizing: border-box;
	color: #A5D4B2;
}
.hl{
	text-align: left;
	padding-left: 10px;
	box-sizing: border-box;
}
.hl>a{
	text-decoration: none;
	color: black;!0
}
.hl>a>span{
	display: inline-block;
	width: 25px;
	height: 30px;
	background: url(../img/icon/arrow.png) no-repeat 0px 15px;
	background-size: 82% 55%;
}
section{
	box-sizing: border-box;
	padding: 0 20px;
	max-width: 640px;
	min-width: 320px;
	width: 100%;
	height: 100%;
	margin-top: 10px;
	background-color: white;
}
section>div{
	line-height: 96px;
	width: 100%;
	height: 96px;
}
section>div>div{
	border-radius: 50%;
	float: left;
}
.upci{
    width: 75px;
	height: 75px;
	margin-right: 26px;
	border-radius: 50%;
	vertical-align: middle;
}
section>div>a{
	float: right;
}
.arrow{
	width: 20px;
	height: 20px;
	transform: rotate(180deg);
}
.infor{
	box-sizing: border-box;
	padding: 0 20px;
	max-width: 640px;
	min-width: 320px;
	width: 100%;
	height: 100%;
	margin-top: 10px;
	background-color: white;
}
.infor>div{
	border-bottom: 1px solid #E5E5E5;
	width: 100%;
	height: 44px;
	line-height: 44px;
}
.infor>div>a{
	float: right;
}
