<div ng-repeat="item in data" class="hometop" ng-click="dealClick(item)">
	<div class="hometopl">
		<img src="{{item.img}}" />
	</div>
	<div class="hometopr">
		<p class="hometitle">{{item.title}}</p>
		<p class="homeprice"><b>¥</b><span>{{item.price}}</span><del>¥{{item.delprice}}</del></p>
		<p>{{item.count}}条评论</p>
	</div>
</div>
<div ng-repeat="item in data" class="hometop" ng-click="dealClick(item)">
	<div class="hometopl">
		<img src="{{item.img}}" />
	</div>
	<div class="hometopr">
		<p class="hometitle">{{item.title}}</p>
		<p class="homeprice"><b>¥</b><span>{{item.price}}</span><del>¥{{item.delprice}}</del></p>
		<p>{{item.count}}条评论</p>
	</div>
</div>
<p class="bottomp"></p>